# Ignore the .ipynb_checkpoints directory
.ipynb_checkpoints/

# Ignore the dataset directory
dataset/

# Ignore the processed_data directory
processed_data/
processed_data2/

datasetModificato/

__pycache__/


# Dataset with new label
NewDataset