<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume Classification</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/index.js"></script>
</head>
<body>
    <header>
        <div class="toggle-switch">
            <div id="toggle-indicator"></div>
            <button id="btn-job" class="toggle-btn active">Job Description</button>
            <button id="btn-resume" class="toggle-btn">Resume Classification</button>
        </div>
    </header>

    <main>
        <div id="subTitle">Welcome! Type your job ad to find the most qualified candidates</div>
        <div class="container" id="container">
            <form class="form" id="form">
                <textarea placeholder="Type something..." class="input-text" id="textarea"></textarea>
                <button type="submit" class="submit-button" id="submit-button">
                    ➤
                </button>
            </form>
            <input type="file" id="upload-button" class="upload-button" name="resume" accept=".pdf">
        </div>
    </main>
</body>
</html>